html
  head
    block title
      title WaffleIron | #{title}
  body
    block header
      include ../components/header
    include ../components/banner
    block content
    block foot
      .container
        include ../components/footer
